<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-form-field class="full-width">
    <mat-label>Report title</mat-label>
    <input type="text" matInput formControlName="name" placeholder="Ex. The furure of blockchain technology">

    <mat-error *ngIf="form.controls.name.errors?.required">* Report title is required</mat-error>
    <mat-error *ngIf="form.controls.name.errors?.minlength">* Title must be at least 3 symbols</mat-error>
    <mat-error *ngIf="form.controls.name.errors?.maxlenght">* Title must be maximum 100 symbols</mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Summary</mat-label>
    <textarea matInput formControlName="summary" rows="8"
      placeholder="Please provide a report summary with max lenght 1000 symbols">
    </textarea>

    <mat-error *ngIf="form.controls.summary.errors?.required">* Report summary is required</mat-error>
    <mat-error *ngIf="form.controls.summary.errors?.minlength" class="text-danger">
      * Summary must be at least 50 symbols
    </mat-error>
    <mat-error *ngIf="form.controls.summary.errors?.maxlenght" class="text-danger">
      * Summary must be maximum 1000 symbols
    </mat-error>
  </mat-form-field>

  <app-industry-selector class="full-width" [form]="form" [allowNoneSelection]="false"></app-industry-selector>

  <app-tags-autocomplete class="full-width" [control]="form.controls.tags"></app-tags-autocomplete>

  <mat-form-field class="full-width" appearance="standard">
    <mat-label>Upload a file</mat-label>
    <ngx-mat-file-input formControlName="file" alife-file-to-base64 accept=".doc, .docx, .pdf, .txt, .rtf">
    </ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
    <mat-error *ngIf="form.controls.file.errors?.required">* File is required</mat-error>
  </mat-form-field>

  <div>
    <button type="submit" [disabled]="enabled || form.invalid" mat-raised-button color="primary">Publish</button>
  </div>
</form>
