.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
  padding-bottom: 15px;
}

.input {
  padding: 15px;
}

::ng-deep .mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
}

.back-button {
  margin-top: 30px;
}
