<button mat-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button color="secondary" mat-menu-item (click)="onSelected(action)" *ngFor="let action of actions" [value]="action"
    color="accent">{{action}}</button>
</mat-menu>
