<div class="container-fluid">
  <div class="report" *ngFor="let report of reports">
    <div class="header">
      <h4><b>{{report.name}}</b></h4>
    </div>
    <hr>
    <div>
      <span id="industry">{{report.industry.name | uppercase}}</span>
      {{report.createdOn | date:'MMMM dd, yyyy'}}

      <button mat-stroked-button color="primary" (click)="onDetails(report.id)"><b>READ MORE</b></button>
    </div>
  </div>
</div>
