<div class="container-fluid" *ngIf="!isLoading">
  <div class="row row-no-gutters" *ngFor="let pair of industryPairs;">
    <div class="col-md-6">
      <app-industry [industry]="pair[0]"></app-industry>
    </div>
    <div class="col-md-6">
      <app-industry [industry]="pair[1]"></app-industry>
    </div>
  </div>
</div>

<mat-spinner *ngIf="isLoading"></mat-spinner>
