<body class="text-center">
  <div class="card" style="border: none">
    <form [formGroup]="this.form" (ngSubmit)="onSubmit()" class="form-signin">

      <h4 class="h3 mb-3 font-weight-normal">Sign in</h4>
      <mat-form-field>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input matInput  type="email" id="inputEmail" formControlName="email"
          class="form-control" placeholder="Email address" width="60" required autofocus/>
        <small *ngIf="f.email.errors" class="text-danger">
          <mat-error *ngIf="f.email.errors?.required">* Email is required *</mat-error>
          <mat-error *ngIf="f.email.errors?.email">* Email must be a valid email address *</mat-error>
        </small>
      </mat-form-field>
      <mat-form-field>
        <label for="inputPassword" class="sr-only">Password</label>
        <input matInput type="password"
          id="inputPassword" formControlName="password" class="form-control" placeholder="Password" required />
        <small *ngIf="f.password.errors" class="text-danger">
          <mat-error *ngIf="f.password.errors?.required">* Password is required * </mat-error>
        </small>
      </mat-form-field>
      <section class="section">
        <div class="form-group">
          <label for="remmemberLogin"></label>
          <mat-checkbox class="mb-3" formControlName="remmemberLogin">
            Remember me
          </mat-checkbox>
        </div>
      </section>

      <div class="form-group">
        <button mat-raised-button color="primary" type="submit">Log in</button>
      </div>

      <a mat-stroked-button [routerLink]="'/register'">Register</a>
    </form>
  </div>
</body>
