// CSS Reset, comment out if not required or using a different module
@import '~minireset.css/minireset';

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

@import "~igniteui-angular/lib/core/styles/themes/index";

@include igx-core();
@include igx-theme($default-palette);

:focus {outline:0 !important;}

// regular style toast
@import '~ngx-toastr/toastr';

#toast-container > .toast-success {
  background-color: #0097A7;
  color: #fff;
}

#toast-container > .toast-error {
  background-color: #BF360C;
  color: #fff;
}
