@import "../node_modules/@angular/material/theming";
@include mat-core();

$my-primary: mat-palette($mat-indigo, 900);
$my-accent:  mat-palette($mat-cyan, 700);
$my-warn:    mat-palette($mat-deep-orange, 900);
$my-theme: mat-light-theme($my-primary, $my-accent, $my-warn);
@include angular-material-theme($my-theme);
