<body>
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <img src="https://i.ibb.co/JmbCZRn/logo-small.png" alt="logo">
        <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
        <br>
        <br>
        <br>
        <a mat-raised-button color="accent" class="js-scroll-trigger" [routerLink]="'/home'">Get Started</a>
      </div>
    </div>
  </header>
  <!-- About-->
  <section class="about-section text-center" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h4 class="text-white mb-4">Powerful insights</h4>
          <p class="text-white-50">From the business... for the business </p>
        </div>
      </div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </section>
  <!-- Projects-->
  <section class="projects-section bg-light" id="projects">
    <div class="container">
      <!-- Featured Project Row-->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="https://i.ibb.co/8bjvDHC/img-2.gif"
            alt="" />
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>Critical Insights</h4>
            <p class="text-black-50 mb-0">One site that suits all the needs of the busness for critical information in a
              era where knowedge is power.
              Become our customer and browse numerous reports in real time. Or become our new leading author and publish
              insights in
              your area of expertise.</p>
          </div>
        </div>
      </div>
      <!-- Project One Row-->
      <div class="row justify-content-between no-gutters mb-5 mb-lg-0">
        <div class="col-lg-5 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4>Authors</h4>
                <p class="mb-0 text-black-50">You are an expert in your respective field and you are loking for a web
                  platform to publish your
                  business analysis. InsightHub&copy; is your place!
                </p>
                <hr class="d-none d-lg-block mb-0 mr-0" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4>Customers</h4>
                <p class="mb-0 text-black-50">Browse reports, fuel you business with information.
                  Making your professional dreams come true <br> is our reality!</p>
                <hr class="d-none d-lg-block mb-0 ml-0" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Project Two Row-->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="https://i.ibb.co/xCQR2bj/5-stars-transparent-background-3.png" alt="" />
        </div>

      </div>
    </div>
  </section>

  <!-- Contact-->
  <section class="contact-section bg-black">
    <div class="container">
      <h3 class="text-center text-white"> InsightHub&copy; Team</h3>
      <div class="row justify-content-between">
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100" id="developer-card">
            <div class="card-header text-center" style="background-color: transparent; border: none;">
              <img class="card-img-top" id="avatar" src="https://i.ibb.co/802hqs4/viktor.jpg" width="200px"
                alt="Card image cap">
            </div>
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Viktor Yotov</h4>
              <hr class="my-4" />
              <div class="small text-black-50">ASP.NET Core developer</div>
            </div>
            <div class="card-footer text-center">
              Email: yotovviktor@gmail.com
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100" id="developer-card">
            <div class="card-header text-center" style="background-color: transparent; border: none;">
              <img class="card-img-top" id="avatar" src="https://i.ibb.co/5WwnbP4/greta.jpg"
                width="200px" alt="Card image cap">
            </div>
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Greta Pavlova</h4>
              <hr class="my-4" />
              <div class="small text-black-50">ASP.NET Core developer</div>
            </div>
            <div class="card-footer text-center">
              Email: greta.pavlova@hotmail.com
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="social d-flex justify-content-center">
      <a class="mx-2" href="https://gitlab.com/yotovviktor/insighthub" target="_blank">
        <img src="https://i.ibb.co/hXx9SP6/gitlab-logo-white-stacked-rgb.png" height="30px" width="90">
      </a>
    </div>
    <br>
  </section>
</body>
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50">
  <div class="container">Copyright © Your Website 2020</div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
