body {
  background: #0e0325;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}
#avatar {
  border-radius: 50%;
  width: 225px;
  height: auto;
}
#developer-card {
  background-color: white;
  opacity: 0.8;
}

