<form [formGroup]="form">

  <div class="reports">
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
      <mat-spinner></mat-spinner>
    </div>
    <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sortReports($event)" class="mat-elevation-z8">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input type="search" matInput placeholder="search by report name" (keyup)="onNameSelected($event);">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let report"> <i>{{report.name}} </i></td>
      </ng-container>

      <!-- Industry Column -->
      <ng-container matColumnDef="industry">
        <th mat-header-cell *matHeaderCellDef>
          <app-industry-selector [form]="form" (selected)="onIndustrySelected($event)"></app-industry-selector>
        </th>
        <td mat-cell *matCellDef="let report"> {{report.industry.name | uppercase}} </td>
      </ng-container>

      <!-- Downloads Column -->
      <ng-container matColumnDef="downloads">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Downloads </th>
        <td mat-cell *matCellDef="let report"> {{report.downloadCount}} </td>
      </ng-container>

      <!-- Tags Column -->
      <ng-container matColumnDef="tags">
        <th mat-header-cell *matHeaderCellDef>
          <app-tags-selector [form]="form" (selected)="onTagsSelected($event)"></app-tags-selector>
        </th>
        <td mat-cell *matCellDef="let report">
          <mat-chip-list>
            <mat-chip *ngFor="let tag of report.tags">{{tag.name}}</mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <!-- Upload Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Upload date </th>
        <td mat-cell *matCellDef="let report"> {{report.createdOn | date:'MM/dd/yyyy'}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container *ngIf="showStatus" matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>
          <app-status-selector (selected)="onStatusSelect($event)"></app-status-selector>
        </th>
        <td mat-cell *matCellDef="let report">
          <app-status-chip [status]="report.status"></app-status-chip>
        </td>
      </ng-container>

      <!-- Operation Column -->
      <ng-container matColumnDef="operation">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let report">
          <a routerLink="/reports/view/{{report.id}}">
            <button mat-stroked-button color="primary"><b> VIEW </b> </button></a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [disabled]="dataSource.loading$ | async">
    </mat-paginator>

  </div>

</form>
