table {
  width: 100%;
}

.mat-chip {
  height: 20px;
  margin: 6px !important;
}

.mat-spinner {
  position: fixed;
  top: 50%;
  right: 50%;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

th {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

td {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.mat-column-name {
  width: 30% !important;
}

.mat-column-industry {
  width: 15% !important;
}

.mat-column-tags {
  width: 30% !important;
}

.mat-column-downloads {
  justify-content: center;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}
