<mat-form-field class="status-selector">
  <mat-label>Status</mat-label>
  <mat-select (selectionChange)="onSelected($event);">
    <mat-option [value]="null">None</mat-option>
    <mat-option *ngFor="let status of statuses" [value]="status">
      {{status}}
    </mat-option>
  </mat-select>
</mat-form-field>
