<mat-chip-list class="chip">
  <mat-chip id="pending" *ngIf="status == 'Pending'" selected>Pending</mat-chip>
  <mat-chip id="approved" *ngIf="status == 'Approved'" selected>Approved</mat-chip>
  <mat-chip id="rejected" *ngIf="status == 'Rejected'" selected>Rejected</mat-chip>
</mat-chip-list>
