.mat-form-field + .mat-form-field {
  margin-left: auto;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

.passwordInput {
  margin: 8px;
}
