<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title style="justify-content: center;">
        <mat-icon>edit</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Parameter -->
      <mat-form-field>
        <label for="param" class="sr-only">{{this.propertyName}}</label>
        <input matInput type="text" id="param" formControlName="param" placeholder="New {{this.propertyName}}" required
          autofocus />
        <div *ngIf="submitted && f.param.errors" class="text-danger">
          <mat-error *ngIf="f.param.errors.required">* Fielad {{this.propertyName}} is required *</mat-error>
        </div>
      </mat-form-field>
      <br>
      <!-- Password -->
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" class="passwordInput">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div>
        <button type="submit" [disabled]="submitted || form.invalid" mat-raised-button color="primary">Publish</button>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
