<main>
  <div id="users">
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
      <mat-spinner></mat-spinner>
    </div>
    <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sortUsers($event)" class="mat-elevation-z8 "
      style="background-color: whitesmoke;">
      <!--FirstName Column-->
      <ng-container matColumnDef="firstName" class="mat-column-firstName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <mat-form-field class="full-width">
            <mat-label>First Name</mat-label>
            <input type="search" matInput placeholder="search by keyword in the name" (keyup)="onNameSelected($event);">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let user" style="overflow: hidden;">
          <div *ngIf="user.isDisabled" style="float: left;">
            <mat-icon class="block-icon">block</mat-icon>
          </div>
          <i style="float: right;">{{user.firstName}}</i>
        </td>
      </ng-container>

      <!-- LastName Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let user"><i>{{user.lastName}}</i> </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>

      <!-- Phone Number Column -->
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> Phone Number </th>
        <td mat-cell *matCellDef="let user"> {{user.phoneNumber}} </td>
      </ng-container>

      <!-- Registered On Column -->
      <ng-container matColumnDef="registeredOn" class="mat-column-date">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Registered On </th>
        <td mat-cell *matCellDef="let user"> {{user.registeredOn | date:'MM/dd/yyyy'}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>
          <app-status-selector (selected)="onStatusSelect($event)"></app-status-selector>
        </th>
        <td mat-cell *matCellDef="let user">
          <app-status-chip [status]="user.status"></app-status-chip>
        </td>
      </ng-container>

      <!-- Role Column -->
      <ng-container matColumnDef="role" style="width: 50px;">
        <th mat-header-cell *matHeaderCellDef>
          <app-role-selector (selected)="onRoleSelect($event)"></app-role-selector>
        </th>
        <td mat-cell id="role" *matCellDef="let user">{{user.role}}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          Actions
        </th>
        <td mat-cell *matCellDef="let user">
          <app-take-actions-on-user [user]="user"></app-take-actions-on-user>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
  </div>
</main>
