table {
  width: 100%;
}

.mat-chip {
  height: 20px;
  margin: auto !important;
}

.mat-spinner {
  position: fixed;
  top: 50%;
  right: 50%;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

th {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

td {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.mat-column-firstName {
  width: 15% !important;
}

.mat-column-lastName {
  width: 15% !important;
}
.mat-column-role {
  width: 15% !important;
}
.mat-column-date {
  text-align: center;
  width: fit-content;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

tr :hover {
  background: lightgrey;
}

.mat-table {
  background: whitesmoke;
}

#pending {
  background-color: #fcb316;
}

#approved {
  background-color: #4dff4d;
}

#rejected {
  background-color: #bc2031;
}

#role {
  text-align: center;
}

.block-icon{
  color: red;
}
