<div *ngIf="this.isAuthenticated">
  <div *ngIf="this.isCustomer">
    <button *ngIf="!this.isSubscribedFor" type="button" mat-raised-button color ="primary" (click)="subscribe()">
      Subscribe
    </button>
    <button *ngIf="this.isSubscribedFor" type="button" mat-raised-button color="warn" (click)="cancel()">
      Cancel Subscription
    </button>
  </div>
</div>
<div *ngIf = "!this.isAuthenticated">
  <button type="button" mat-raised-button color = "accent" (click) ="goToLogIn()"></button>
</div>
