<!-- <div class="container-fluid">
  <div class="row d-flex">
    <div class="col-md-6 d-flex justify-content-center">
      <form [formGroup]="this.form" (ngSubmit)="onSubmit()">
        <div class="container row d-flex">
          <div class="col-md-3">
            <div class="container d-flex justify-content-center">
              <mat-form-field>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input matInput (click)="emailClicked()" type="email" id="inputEmail" formControlName="email"
                  class="form-control" placeholder="Email address" required autofocus />
                <small *ngIf="this.isEmailClicked && f.email.errors" class="text-danger">
                  <mat-error *ngIf="f.email.errors?.required">* Email is required *</mat-error>
                  <mat-error *ngIf="f.email.errors?.email">* Email must be a valid email address *</mat-error>
                </small>
              </mat-form-field>
              <br>
              <mat-form-field>
                <label for="inputPassword" class="sr-only">Password</label>
                <input matInput (click)="passwordClicked()" (keyup)="this.isPasswordValid()" type="password"
                  id="inputPassword" formControlName="password" class="form-control" placeholder="Password" required />
                <small *ngIf="isPasswordClicked" class="text-danger">
                  <mat-error *ngIf="f.password.errors?.required">* Password is required * </mat-error>
                  <mat-error *ngIf="f.password.errors?.minlength">* Password must be atleast 8 symbols *</mat-error>
                  <mat-error *ngIf="!this.passwordChecked">* Password must contain at least one: capital letter,
                    non-alpha,
                    symbol
                    and
                    digit *</mat-error>
                </small>
              </mat-form-field>
              <br>
              <mat-form-field>
                <label for="inputPasswordConfirm" class="sr-only">Confirm Password</label>
                <input matInput type="password" id="inputPasswordConfirm" formControlName="passwordConfirm"
                  class="form-control" placeholder="Confirm password" required />

                <small *ngIf="submitted && f.passwordConfirm.errors">
                  <mat-error *ngIf="f.passwordConfirm.errors?.required">* Password confirmation is required *
                  </mat-error>
                </small>
                <small *ngIf="submitted && !passwordConfirmed">
                  <mat-error>* Passwords don`t match *</mat-error>
                </small>
              </mat-form-field>
              <br>
              <mat-form-field>
                <label for="firstName" class="sr-only">First Name</label>
                <input matInput type="text" id="firstName" formControlName="firstName" class="form-control"
                  placeholder="First Name" required />
                <small *ngIf="submitted && f.firstName.errors" class="text-danger">
                  <mat-error *ngIf="f.firstName.errors?.required">* First name is required *</mat-error>
                </small>
              </mat-form-field>
              <br>
            </div>
          </div>


          <div class="col-md-6">
            <div class="container">
              <mat-form-field>
                <label for="lastName" class="sr-only">Last Name</label>
                <input matInput type="text" id="lastName" formControlName="lastName" class="form-control"
                  placeholder="Last Name" required />
                <small *ngIf="submitted && f.lastName.errors" class="text-danger">
                  <mat-error *ngIf="f.lastName.errors?.required">* Last name is required *
                  </mat-error>
                </small>
              </mat-form-field>
              <br>
              <mat-form-field>
                <label for="phoneNumber" class="sr-only">Phone Number</label>
                <input matInput type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control"
                  placeholder="Phone Number" required />
                <small *ngIf="submitted && f.phoneNumber.errors" class="text-danger">
                  <mat-error *ngIf="f.phoneNumber.errors?.required">* Phone number is required *
                  </mat-error>
                  <mat-error *ngIf="f.phoneNumber.errors?.minlength">* Phone number must be exactly 10 digits *
                  </mat-error>
                  <mat-error *ngIf="f.phoneNumber.errors?.maxlength">* Phone number must be exactly 10 digits *
                  </mat-error>
                </small>
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Role</mat-label>
                <mat-select formControlName="role" required>
                  <mat-option>--</mat-option>
                  <mat-option value="customer">Customer</mat-option>
                  <mat-option value="author">Author</mat-option>
                </mat-select>
                <small *ngIf="submitted && f.role.errors" class="text-danger">
                  <mat-error *ngIf="f.role.errors?.required">* Please choose a role *</mat-error>
                </small>
              </mat-form-field>
              <br>
              <div class="form-group">
                <button mat-raised-button color="primary" type="submit">Register</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <div class="container">
        <img src="https://i.ibb.co/pLQrgMp/gradientlogotransparent-e1586016411776.png" alt="registration_image">
      </div>
    </div>
  </div>
</div> -->
<div class="row">
  <div class="col-lg-7">
    <div class="container py-5">
      <div class="row mx-auto">
        <form [formGroup]="this.form" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-lg-6">
              <mat-form-field>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input matInput (click)="emailClicked()" type="email" id="inputEmail" formControlName="email"
                  class="form-control" placeholder="Email address" width="60" required autofocus />
                <small *ngIf="this.isEmailClicked && f.email.errors" class="text-danger">
                  <mat-error *ngIf="f.email.errors?.required">* Email is required *</mat-error>
                  <mat-error *ngIf="f.email.errors?.email">* Email must be a valid email address *</mat-error>
                </small>
              </mat-form-field>
            </div>
            <div class="col-lg-6">
              <mat-form-field>
                <label for="inputPassword" class="sr-only">Password</label>
                <input matInput (click)="passwordClicked()" (keyup)="this.isPasswordValid()" type="password"
                  id="inputPassword" formControlName="password" class="form-control" placeholder="Password" required />
                <small *ngIf="isPasswordClicked" class="text-danger">
                  <mat-error *ngIf="f.password.errors?.required">* Password is required * </mat-error>
                  <mat-error *ngIf="f.password.errors?.minlength">* Password must be atleast 8 symbols *</mat-error>
                  <mat-error *ngIf="!this.passwordChecked">* Password must contain at least one: capital letter,
                    non-alpha, symbol and digit *</mat-error>
                </small>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-6">
              <mat-form-field>
                <label for="firstName" class="sr-only">First Name</label>
                <input matInput type="text" id="firstName" formControlName="firstName" class="form-control"
                  placeholder="First Name" required />
                <small *ngIf="submitted && f.firstName.errors" class="text-danger">
                  <mat-error *ngIf="f.firstName.errors?.required">* First name is required *</mat-error>
                </small>
              </mat-form-field>
            </div>
            <div class="col-lg-6">
              <mat-form-field>
                <label for="inputPasswordConfirm" class="sr-only">Confirm Password</label>
                <input matInput type="password" id="inputPasswordConfirm" formControlName="passwordConfirm"
                  class="form-control" placeholder="Confirm password" required />

                <small *ngIf="submitted && f.passwordConfirm.errors">
                  <mat-error *ngIf="f.passwordConfirm.errors?.required">* Password confirmation is required *
                  </mat-error>
                </small>
                <small *ngIf="submitted && !passwordConfirmed">
                  <mat-error>* Passwords don`t match *</mat-error>
                </small>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-6">
              <mat-form-field>
                <label for="lastName" class="sr-only">Last Name</label>
                <input matInput type="text" id="lastName" formControlName="lastName" class="form-control"
                  placeholder="Last Name" required />
                <small *ngIf="submitted && f.lastName.errors" class="text-danger">
                  <mat-error *ngIf="f.lastName.errors?.required">* Last name is required *
                  </mat-error>
                </small>
              </mat-form-field>
            </div>
            <div class="col-lg-6">
              <mat-form-field>
                <label for="phoneNumber" class="sr-only">Phone Number</label>
                <input matInput type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control"
                  placeholder="Phone Number" required />
                <small *ngIf="submitted && f.phoneNumber.errors" class="text-danger">
                  <mat-error *ngIf="f.phoneNumber.errors?.required">* Phone number is required *
                  </mat-error>
                  <mat-error *ngIf="f.phoneNumber.errors?.minlength">* Phone number must be exactly 10 digits *
                  </mat-error>
                  <mat-error *ngIf="f.phoneNumber.errors?.maxlength">* Phone number must be exactly 10 digits *
                  </mat-error>
                </small>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-6">
              <mat-form-field>
                <mat-label>Role</mat-label>
                <mat-select formControlName="role" required>
                  <mat-option>--</mat-option>
                  <mat-option value="customer">Customer</mat-option>
                  <mat-option value="author">Author</mat-option>
                </mat-select>
                <small *ngIf="submitted && f.role.errors" class="text-danger">
                  <mat-error *ngIf="f.role.errors?.required">* Please choose a role *</mat-error>
                </small>
              </mat-form-field>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-4 text-center">
              <button mat-raised-button color="primary" type="submit">Register</button>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="cookiePolicy"></label>
                <mat-checkbox class="mb-3" formControlName="cookiePolicy">
                  I agree with Cookie Policy
                </mat-checkbox>
                <small *ngIf="submitted && f.cookiePolicy.errors" class="text-danger">
                  <mat-error *ngIf="f.role.errors?.required">* Please agree go register *</mat-error>
                </small>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
  <div class=col-md-5>
    <div class="container">
      <img id="reg-image" src="https://i.ibb.co/JrvfX5N/gradientlogotransparent-e1586016411776.png"
        alt="registration_image">
    </div>
  </div>
</div>
