#reg-image {
  height: 550px;
  width: 600px;
  padding-left: 10px;;
}
mat-form-field{
  width:275px !important
}
.mat-checkbox .mat-checkbox-frame {
  border-color: black;
  background-color: #dddddd
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  margin-top: 1px;
  margin-left: 1px;
  width: 18px;
  height: 18px;
}
