<div class="container-fluid" *ngIf="!isLoading && report">
    <div class="row row-no-gutters">
    <div class="col-md-6">

      <div class="header">
        <div class="edit-panel" *ngIf="actionsVisible">
          <a [routerLink]="['/reports/edit', report.id]">
            <button class="menu-button" matTooltip="Edit report" aria-label="tooltip" mat-fab color="accent">
              <mat-icon>edit</mat-icon>
            </button>
          </a>

          <button class="menu-button" matTooltip="Delete report" aria-label="tooltip" mat-fab color="warn"
            (click)="confirmDialog()">
            <mat-icon>delete</mat-icon>
          </button>

          <app-status-menu *ngIf="claims.userRole == 'admin'" class="menu-button" [report]="report"
            (changed)="status = $event">
          </app-status-menu>

          <app-toggle-featured *ngIf="claims.userRole == 'admin'" class="menu-button" [report]="report"
            (toggled)="isFeatured = $event">
          </app-toggle-featured>
        </div>

        <h2><b>{{report.name}}</b></h2>

        <mat-chip-list>
          <mat-chip *ngFor="let tag of report.tags" selected>{{tag.name}}</mat-chip>

          <mat-chip color="accent" *ngIf=isFeatured selected>
            <mat-icon>bookmark</mat-icon> FEATURED
          </mat-chip>
        </mat-chip-list>

        <div class="author">
          <h5>{{report.author.firstName}} {{report.author.lastName}}, Principal Analyst</h5>
          {{report.createdOn | date:'MM/dd/yyyy'}}
        </div>

        <p>{{report.summary}}</p>

        <div class="download">
          <button mat-raised-button color="primary" [disabled]="downloadDisabled" (click)="onDownloadClicked()">
            Download full report
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <app-industry [industry]="report.industry"></app-industry>
    </div>

  </div>
</div>


<h4 *ngIf="!isLoading && !report"> No results </h4>

<mat-spinner *ngIf="isLoading"></mat-spinner>
