<div *ngIf="navbarService.showNavbar">
  <nav class="navbar navbar-expand-md text-light navbar-dark" style="background-color:#1A237E;">
    <a class="navbar-brand" [routerLink]="'home'">
      <img height="45" width="45" src="https://i.ibb.co/kXNSV1H/logo-short-removebg-preview.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-light" [routerLink]="'/reports'"> Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" [routerLink]="'/industries'"> Industries </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" *ngIf="this.role === 'customer'" [routerLink]="'/customer'"> Dashboard </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" *ngIf="this.role === 'author'" [routerLink]="'/author'"> Dashboard </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" *ngIf="this.role === 'admin'" [routerLink]="'/admin'"> Dashboard </a>
        </li>
      </ul>
      <!-- Right Side -->
      <ul class="my-2 my-lg-0 navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-light" *ngIf="!this.isLogedIn" [routerLink]="'/login'"> Login </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" *ngIf="!this.isLogedIn" [routerLink]="'/register'"> Register </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" *ngIf="this.isLogedIn" [routerLink]="'/logout'"> Logout </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" *ngIf="this.isLogedIn" mat-button [routerLink]="'/account'">
            <mat-icon>account_circle</mat-icon>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

