<mat-form-field class="chip-list">

  <mat-chip-list #chipList aria-label="Tag selection">
    <mat-chip color="primary" selected
      *ngFor="let tag of selectedTags"
      (removed)="removeTag(tag)">
      {{tag.name}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>

    <input
      placeholder="Tags"
      #tagInput
      (keyup)="filterTags()"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="onTagAdded($event)">
  </mat-chip-list>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onTagSelected($event)">
    <mat-option *ngFor="let tag of filteredTags" [value]="tag">
      {{tag.name}}
    </mat-option>
  </mat-autocomplete>

</mat-form-field>
