<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{industry.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-lg-image [src]="industry.imageUrl" alt="image_industry">
  <mat-card-content>
    <p>{{industry.description}}</p>
  </mat-card-content>
  <mat-card-actions id="buttons">
    <button id="first" mat-stroked-button color="primary" (click)="onDetails(industry.id)"><b>VIEW REPORTS</b>
    </button>
    <app-subscription [industryId]="industry.id" id="second"></app-subscription>
  </mat-card-actions>
</mat-card>
