.mat-card {
  max-width: 45vw;
  margin: auto;
  text-align: justufy;
}

p {
  font-style: italic;
}

.mat-card-title {
  text-transform: uppercase;
}

img {
  width: 45vw;
  height: 20vw;
  margin-bottom: 15px;
}

#buttons {
  overflow: hidden;
}

#first {
  float: left;
}

#second {
  float: right;
}
