<div class="create">
  <button type="button" mat-raised-button color="primary" (click)="onCreate()">Publish new report</button>
</div>

<app-report-list [dataSource]="dataSource" [showStatus]="true"></app-report-list>
