<button matTooltip="Change report status" aria-label="tooltip"
  mat-fab [disabled]="submitted" [color]="color" [matMenuTriggerFor]="menu">
  <mat-icon>{{icon}}</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item [disabled]="status === 'Approved'" (click)="onSelected('Approved')">
    <mat-icon>check_circle</mat-icon> APPROVED
  </button>

  <button mat-menu-item [disabled]="status === 'Rejected'" (click)="onSelected('Rejected')">
    <mat-icon>block</mat-icon> REJECTED
  </button>

  <button mat-menu-item [disabled]="status === 'Pending'" (click)="onSelected('Pending')">
    <mat-icon>help</mat-icon> PENDING
  </button>
</mat-menu>
