<div class="container-fluid">
  <div class="row row-no-gutters">
    <div class="col-md-6">
      <app-report-form [form]="form" [enabled]="submitted" (submited)="onSubmit()"></app-report-form>
    </div>
    <div class="col-md-6">
      <img
        src="https://i.ibb.co/GcpS59Q/robot.png"
        alt="analyst_image">
    </div>
  </div>
</div>
