<mat-tab-group headerPosition="below" mat-align-tabs="center" animationDuration="900ms">
  <mat-tab label="FEATURED">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <img
          src="https://i.ibb.co/RDYPF4k/featured.png"
          alt="featured">
        </div>
        <div class="col-md-6">
          <app-report-preview *ngIf="!isLoading" [reports]="featuredReports"></app-report-preview>
          <mat-spinner *ngIf="isLoading"></mat-spinner>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="NEW">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <app-report-preview [reports]="latestReports"></app-report-preview>
        </div>
        <div class="col-md-6">
          <img
          src="https://i.ibb.co/mRk2NMq/latest.jpg"
          alt="new">
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="POPULAR">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <app-report-preview [reports]="popularReports"></app-report-preview>
        </div>
        <div class="col-md-6">
          <img
          src="https://i.ibb.co/drtRMcy/popular.png"
          alt="popular">
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
