
table {
  width: 100%;
}


.mat-spinner {
  position: fixed;
  top: 50%;
  right: 50%;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

th {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

td {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.mat-column-industry {
  width: 15% !important;
}

.mat-column-actions {
  width: 30% !important;
}

.full-width {
  width: 100%;
}

#actions {
  overflow: hidden;

}

#cancel {
  float: left;
}

#details {
  float: right;
}


