<main>
  <mat-card style="width:300px;">
    <mat-card-header style="justify-content: center;">
      <mat-card-title> Subscriptions</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div id="subscriptions">
        <div class="spinner-container" *ngIf="dataSource.loading$ | async">
          <mat-spinner></mat-spinner>
        </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Industry Column -->
          <ng-container matColumnDef="industry">
            <th mat-header-cell *matHeaderCellDef style="text-align: right;"></th>
            <td mat-cell *matCellDef="let sub"> <i>{{sub.industryName}}</i> </td>
          </ng-container>

          <!-- LastName Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="mat-cel-actions"></th>
            <td mat-cell *matCellDef="let subscription" id="actions">
              <button id="cancel" (click)="onCancel(subscription.industryId)" matTooltip="Cancel" mat-mini-fab
                color="warn">
                <mat-icon>cancel</mat-icon>
              </button>

              <button id="details" (click)="onDetails(subscription.industryId)" matTooltip="Read" mat-mini-fab
                color="accent">
                <mat-icon>library_books</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</main>
