<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title style="justify-content: center;">
        <p style="text-align: center;">Edit your password</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Password -->
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input formControlName="password" matInput [type]="hide[0] ? 'password' : 'text'" class="passwordInput">
        <button type="button" mat-icon-button matSuffix (click)="hide[0] = !hide[0]" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide[0]">
          <mat-icon>{{hide[0] ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <br>
      <!-- Password -->
      <mat-form-field appearance="fill">
        <mat-label>Enter your new password</mat-label>
        <input formControlName="newPassword" matInput [type]="hide[1] ? 'password' : 'text'" class="passwordInput">
        <button type="button" mat-icon-button matSuffix (click)="hide[1] = !hide[1]" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide[1]">
          <mat-icon>{{hide[1] ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <br>
      <!-- Password -->
      <mat-form-field appearance="fill">
        <mat-label>Confirm your new password</mat-label>
        <input formControlName="confirmNewPassword" matInput [type]="hide[2] ? 'password' : 'text'"
          class="passwordInput">
        <button type="button" mat-icon-button matSuffix (click)="hide[2] = !hide[2]" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide[2]">
          <mat-icon>{{hide[2] ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div>
        <button type="submit" [disabled]="submitted || form.invalid" mat-raised-button color="primary">Publish</button>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
