<mat-form-field>
  <mat-label>Role</mat-label>
  <mat-select (selectionChange)="onSelected($event);">
    <mat-option [value]="null">None</mat-option>
    <mat-option *ngFor="let role of roles" [value]="role">
      {{role}}
    </mat-option>
  </mat-select>
</mat-form-field>
