<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
<ng-container>
  <mat-card>
    <mat-card-header style="justify-content: center;">
      Personal Information
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
      <app-user-edit-password [propertyName]='properties[4]'></app-user-edit-password>
      <br>
      <p><i>Email: </i>{{user.email}}</p>
      <app-user-edit-base [propertyName]='properties[0]'></app-user-edit-base>
      <p><i>First Name: </i>{{user.firstName}}</p>
      <app-user-edit-base [propertyName]='properties[1]'></app-user-edit-base>
      <p><i>Last Name: </i>{{user.lastName}}</p>
      <app-user-edit-base [propertyName]='properties[2]'></app-user-edit-base>
      <p><i>Phone Number: </i>{{user.phoneNumber}}</p>
      <app-user-edit-base [propertyName]='properties[3]'></app-user-edit-base>
    </mat-card-content>
  </mat-card>
</ng-container>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src ="https://i.ibb.co/FWsJrTX/kissclipart-account-manager-vector-clipart-management-account-1623bfc6873f186b.png" alt="account_image">

  </mat-grid-tile>
