.info-conatainer {
  width: 200px;
}
.header {
  margin: auto;
}
p:hover {
  background: lightgrey;
}
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
img{
  height: 80%;
}
