<mat-form-field [formGroup]="form">
  <mat-label>Tags</mat-label>
  <mat-select formControlName="tags" (selectionChange)="onSelected($event);" multiple>
    <mat-option *ngFor="let tag of tagList" [value]="tag.id">{{tag.name}}</mat-option>
  </mat-select>
</mat-form-field>
