img {
  height: 34vw;
}

::ng-deep .mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
}

.mat-spinner {
  position: fixed;
  top: 50%;
  right: 50%;
}

h5 {
  margin-bottom: 20px;
}
