<div class="spinner-container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div class="container-fluid" *ngIf="!isLoading">
  <div class="row row-no-gutters">
    <div class="col-md-6">
      <app-report-form [form]="form" [enabled]="submitted" (submited)="onSubmit()"></app-report-form>
    </div>
    <div class="col-md-6">
      <img
      src="https://i.ibb.co/g6WC3kB/image-edit-report.jpg"
      alt="edit_report_image">
    </div>
  </div>
</div>
