<mat-form-field [formGroup]="form">
  <mat-label>Industry</mat-label>
  <mat-select formControlName="industry" (selectionChange)="onSelected($event);">
    <mat-option *ngIf="allowNoneSelection">None</mat-option>
    <mat-option *ngFor="let industry of industries" [value]="industry.id">
      {{industry.name}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="form.controls.industryId?.errors?.required">* Report industry is required</mat-error>
</mat-form-field>
